.tasks-container {
    z-index: 1;
    text-align: center;
    color: #ffffff;
    font-size: 1.2em;
}

.task-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    align-items: center;
}

.task-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    gap: 15px;
}

.task-item img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    transition: transform 0.3s, filter 0.3s;
    filter: grayscale(100%);
}

.task-item:hover img {
    transform: scale(1.2);
    filter: grayscale(0%);
}
